In [1]:
# Import dependencies

import pandas as pd
from sqlalchemy import create_engine
from config import username, password

In [2]:
# Read in house election data as dataframe
house_csv = "election_results/data_clean/house_clean.csv"
house_df = pd.read_csv(house_csv)
house_df.head()

,year,congressional_district,state,state_abbreviation,district_number,special_election,candidate,party,candidate_votes,total_votes,candidate_percent
0,2016,AL-1,Alabama,AL,1,False,Bradley Byrne,republican,208083,215893,0.963825
1,2016,AL-1,Alabama,AL,1,False,NaN,other,7810,215893,0.036175
2,2016,AL-2,Alabama,AL,2,False,Nathan Mathis,democrat,112089,276584,0.405262
3,2016,AL-2,Alabama,AL,2,False,NaN,other,29609,276584,0.107052
4,2016,AL-2,Alabama,AL,2,False,Martha Roby,republican,134886,276584,0.487685

In [3]:
# Read in senate election data as dataframe

senate_csv = "election_results/data_clean/senate_clean.csv"
senate_df = pd.read_csv(senate_csv)
senate_df.head()

,year,state,state_abbreviation,district_number,special_election,candidate,party,candidate_votes,total_votes,candidate_percent
0,2016,Alabama,AL,statewide,False,Ron Crumpton,democrat,748709,2087444,0.358673
1,2016,Alabama,AL,statewide,False,Richard C. Shelby,republican,1335104,2087444,0.639588
2,2016,Alabama,AL,statewide,False,NaN,other,3631,2087444,0.001739
3,2016,Alaska,AK,statewide,False,Joe Miller,other,90825,311441,0.291628
4,2016,Alaska,AK,statewide,False,Ted Gianoutsos,other,1758,311441,0.005645

In [4]:
# Read in presidential election data as dataframe

pres_csv =  "election_results/data_clean/senate_clean.csv"
pres_df = pd.read_csv(pres_csv)
pres_df.head()

,year,state,state_abbreviation,district_number,special_election,candidate,party,candidate_votes,total_votes,candidate_percent
0,2016,Alabama,AL,statewide,False,Ron Crumpton,democrat,748709,2087444,0.358673
1,2016,Alabama,AL,statewide,False,Richard C. Shelby,republican,1335104,2087444,0.639588
2,2016,Alabama,AL,statewide,False,NaN,other,3631,2087444,0.001739
3,2016,Alaska,AK,statewide,False,Joe Miller,other,90825,311441,0.291628
4,2016,Alaska,AK,statewide,False,Ted Gianoutsos,other,1758,311441,0.005645

In [6]:
# Create engine
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/election_db')
conn = engine.connect()

In [8]:
# Check table names 
engine.table_names()

['unemployment', 'house', 'senate', 'president', 'demographics']

In [19]:
# Load dataframes into tables
house_df.to_sql(name="house", con=engine, if_exists="replace", index=False)
senate_df.to_sql(name="senate", con=engine, if_exists="replace", index=False)
pres_df.to_sql(name="president", con=engine, if_exists="replace", index=False)

In [13]:
# Check house table
pd.read_sql_query("select * from house", con=engine).head()

,year,congressional_district,state,state_abbreviation,district_number,special_election,candidate,party,candidate_votes,total_votes,candidate_percent
0,2016,AL-1,Alabama,AL,1,False,Bradley Byrne,republican,208083,215893,0.963825
1,2016,AL-1,Alabama,AL,1,False,None,other,7810,215893,0.036175
2,2016,AL-2,Alabama,AL,2,False,Nathan Mathis,democrat,112089,276584,0.405262
3,2016,AL-2,Alabama,AL,2,False,None,other,29609,276584,0.107052
4,2016,AL-2,Alabama,AL,2,False,Martha Roby,republican,134886,276584,0.487685

In [20]:
# Check senate table
pd.read_sql_query("select * from senate", con=engine).head()

,year,state,state_abbreviation,district_number,special_election,candidate,party,candidate_votes,total_votes,candidate_percent
0,2016,Alabama,AL,statewide,False,Ron Crumpton,democrat,748709,2087444,0.358673
1,2016,Alabama,AL,statewide,False,Richard C. Shelby,republican,1335104,2087444,0.639588
2,2016,Alabama,AL,statewide,False,None,other,3631,2087444,0.001739
3,2016,Alaska,AK,statewide,False,Joe Miller,other,90825,311441,0.291628
4,2016,Alaska,AK,statewide,False,Ted Gianoutsos,other,1758,311441,0.005645

In [21]:
# Check president table 
pd.read_sql_query("select * from president", con=engine).head()

,year,state,state_abbreviation,district_number,special_election,candidate,party,candidate_votes,total_votes,candidate_percent
0,2016,Alabama,AL,statewide,False,Ron Crumpton,democrat,748709,2087444,0.358673
1,2016,Alabama,AL,statewide,False,Richard C. Shelby,republican,1335104,2087444,0.639588
2,2016,Alabama,AL,statewide,False,None,other,3631,2087444,0.001739
3,2016,Alaska,AK,statewide,False,Joe Miller,other,90825,311441,0.291628
4,2016,Alaska,AK,statewide,False,Ted Gianoutsos,other,1758,311441,0.005645