In [5]:
import pandas as pd

In [38]:
#import demo data

age_2018_df = pd.read_csv('age2018.csv', index_col=1)
edu_2018_df = pd.read_csv('edu2018.csv', index_col=1)
sap_2018_df = pd.read_csv('sap2018.csv', index_col=1)
race_2018_df = pd.read_csv('race2018.csv', index_col=1)

In [39]:
#check importing

age_2018_df = age_2018_df.reset_index()
sap_2018_df = sap_2018_df.reset_index()
edu_2018_df = edu_2018_df.reset_index()
race_2018_df = race_2018_df.reset_index()

In [40]:
#peek at age_2018_df
age_2018_df

,State,State Abbreviation,District Number,Voting-Age Population,18-29 Years Old,30-44 Years Old,45-64 Years Old,65+ Years Old,Congressional District
0,Alabama,AL,1,544464,104060,125900,188031,126473,AL-1
1,Alabama,AL,2,516295,109222,118999,173351,114723,AL-2
2,Alabama,AL,3,543854,121328,121212,182379,118935,AL-3
3,Alabama,AL,4,515701,95990,114921,177247,127543,AL-4
4,Alabama,AL,5,551968,109986,129788,193348,118846,AL-5
...,...,...,...,...,...,...,...,...,...
431,Wisconsin,WI,5,558805,98106,131851,197688,131160,WI-5
432,Wisconsin,WI,6,556485,102408,122332,200105,131640,WI-6
433,Wisconsin,WI,7,552651,86048,115957,206377,144269,WI-7
434,Wisconsin,WI,8,556205,101057,128912,200720,125516,WI-8
435,Wyoming,WY,At-large,433644,86967,106361,144337,95979,WY-At-large

In [41]:
#combine data into one table, starting with the columns all tables share and then the cols unique to the age_2018 df

combined_2018_df = age_2018_df[["State", 
                                "State Abbreviation", 
                                "District Number", 
                                "Congressional District", 
                                "Voting-Age Population", 
                                "18-29 Years Old", 
                                "30-44 Years Old", 
                                "30-44 Years Old", 
                                "45-64 Years Old", 
                                "65+ Years Old"]]
                    
combined_2018_df

,State,State Abbreviation,District Number,Congressional District,Voting-Age Population,18-29 Years Old,30-44 Years Old,30-44 Years Old,45-64 Years Old,65+ Years Old
0,Alabama,AL,1,AL-1,544464,104060,125900,125900,188031,126473
1,Alabama,AL,2,AL-2,516295,109222,118999,118999,173351,114723
2,Alabama,AL,3,AL-3,543854,121328,121212,121212,182379,118935
3,Alabama,AL,4,AL-4,515701,95990,114921,114921,177247,127543
4,Alabama,AL,5,AL-5,551968,109986,129788,129788,193348,118846
...,...,...,...,...,...,...,...,...,...,...
431,Wisconsin,WI,5,WI-5,558805,98106,131851,131851,197688,131160
432,Wisconsin,WI,6,WI-6,556485,102408,122332,122332,200105,131640
433,Wisconsin,WI,7,WI-7,552651,86048,115957,115957,206377,144269
434,Wisconsin,WI,8,WI-8,556205,101057,128912,128912,200720,125516
435,Wyoming,WY,At-large,WY-At-large,433644,86967,106361,106361,144337,95979

In [42]:
#add in new sex and poverty data from sap_2018_df

#sap_2018_df.head(10)

combined_2018_df = combined_2018_df.join(sap_2018_df[["Men", "Women", "Above Poverty Level", "Below Poverty Level"]])

combined_2018_df

,State,State Abbreviation,District Number,Congressional District,Voting-Age Population,18-29 Years Old,30-44 Years Old,30-44 Years Old,45-64 Years Old,65+ Years Old,Men,Women,Above Poverty Level,Below Poverty Level
0,Alabama,AL,1,AL-1,544464,104060,125900,125900,188031,126473,256603,287861,532906,76483
1,Alabama,AL,2,AL-2,516295,109222,118999,118999,173351,114723,243971,272324,498215,75815
2,Alabama,AL,3,AL-3,543854,121328,121212,121212,182379,118935,261066,282788,526264,88748
3,Alabama,AL,4,AL-4,515701,95990,114921,114921,177247,127543,248166,267535,509407,70775
4,Alabama,AL,5,AL-5,551968,109986,129788,129788,193348,118846,267633,284335,537668,61196
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431,Wisconsin,WI,5,WI-5,558805,98106,131851,131851,197688,131160,269326,289479,548155,34963
432,Wisconsin,WI,6,WI-6,556485,102408,122332,122332,200105,131640,279627,276858,535367,44006
433,Wisconsin,WI,7,WI-7,552651,86048,115957,115957,206377,144269,276779,275872,542845,48200
434,Wisconsin,WI,8,WI-8,556205,101057,128912,128912,200720,125516,275043,281162,544705,41391
435,Wyoming,WY,At-large,WY-At-large,433644,86967,106361,106361,144337,95979,219788,213856,422610,42105

In [45]:
#add in educational attainment data from edu_2018_df

#edu_2018_df.head()

combined_2018_df = combined_2018_df.join(edu_2018_df[["Less than 9th Grade",
                                                      "9th to 12 Grade, No Diploma",
                                                      "High School Graduate",
                                                      "Some College, No Degree",
                                                      "Associate's Degree",
                                                      "Bachelor's Degree",
                                                      "Graduate Degree",
                                                      "High School or More",
                                                      "Bachelor's Degree or More"]])

combined_2018_df

,State,State Abbreviation,District Number,Congressional District,Voting-Age Population,18-29 Years Old,30-44 Years Old,30-44 Years Old,45-64 Years Old,65+ Years Old,...,Below Poverty Level,Less than 9th Grade,"9th to 12 Grade, No Diploma",High School Graduate,"Some College, No Degree",Associate's Degree,Bachelor's Degree,Graduate Degree,High School or More,Bachelor's Degree or More
0,Alabama,AL,1,AL-1,544464,104060,125900,125900,188031,126473,...,76483,13409,57234,185503,122236,42603,82971,40508,473821,123479
1,Alabama,AL,2,AL-2,516295,109222,118999,118999,173351,114723,...,75815,18295,53192,172427,119350,45677,69082,38272,444808,107354
2,Alabama,AL,3,AL-3,543854,121328,121212,121212,182379,118935,...,88748,19578,56833,174209,142705,45713,63916,40900,467443,104816
3,Alabama,AL,4,AL-4,515701,95990,114921,114921,177247,127543,...,70775,24346,57850,175806,121739,51436,52697,31827,433505,84524
4,Alabama,AL,5,AL-5,551968,109986,129788,129788,193348,118846,...,61196,14908,43805,151609,123272,45097,113417,59860,493255,173277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431,Wisconsin,WI,5,WI-5,558805,98106,131851,131851,197688,131160,...,34963,6497,21693,152528,121611,54786,135880,65810,530615,201690
432,Wisconsin,WI,6,WI-6,556485,102408,122332,122332,200105,131640,...,44006,10713,31526,189317,131008,61275,91514,41132,514246,132646
433,Wisconsin,WI,7,WI-7,552651,86048,115957,115957,206377,144269,...,48200,13395,32755,192544,121212,69293,84204,39248,506501,123452
434,Wisconsin,WI,8,WI-8,556205,101057,128912,128912,200720,125516,...,41391,9904,27884,194402,118939,64895,98775,41406,518417,140181
435,Wyoming,WY,At-large,WY-At-large,433644,86967,106361,106361,144337,95979,...,42105,6797,25914,128479,120333,46062,67939,38120,400933,106059

In [47]:
#Lastly, add in race data from race_2018_df

race_2018_df.head()

combined_2018_df = combined_2018_df.join(race_2018_df[["White",
                                                      "Black",
                                                      "Asian",
                                                      "American Indian and Alaska Native",
                                                      "Native Hawaiian and Other Pacific Islander",
                                                      "Some Other Race",
                                                      "Two or More Races",
                                                      "Hispanic",
                                                      "White Non-Hispanic"]])

combined_2018_df

,State,State Abbreviation,District Number,Congressional District,Voting-Age Population,18-29 Years Old,30-44 Years Old,30-44 Years Old,45-64 Years Old,65+ Years Old,...,Bachelor's Degree or More,White,Black,Asian,American Indian and Alaska Native,Native Hawaiian and Other Pacific Islander,Some Other Race,Two or More Races,Hispanic,White Non-Hispanic
0,Alabama,AL,1,AL-1,544464,104060,125900,125900,188031,126473,...,123479,379018,144187,6506,N,N,2884,7325,11678,370443
1,Alabama,AL,2,AL-2,516295,109222,118999,118999,173351,114723,...,107354,338162,162707,3817,N,N,1818,7705,9755,331192
2,Alabama,AL,3,AL-3,543854,121328,121212,121212,182379,118935,...,104816,390539,139026,4028,N,N,2448,6754,12241,381547
3,Alabama,AL,4,AL-4,515701,95990,114921,114921,177247,127543,...,84524,459105,39714,N,N,N,3529,8327,11700,451856
4,Alabama,AL,5,AL-5,551968,109986,129788,129788,193348,118846,...,173277,427462,99160,5209,N,N,5852,12317,14670,420181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431,Wisconsin,WI,5,WI-5,558805,98106,131851,131851,197688,131160,...,201690,521119,15192,11636,N,N,3374,6724,19530,506808
432,Wisconsin,WI,6,WI-6,556485,102408,122332,122332,200105,131640,...,132646,524716,11267,9340,N,N,2436,5943,16238,511469
433,Wisconsin,WI,7,WI-7,552651,86048,115957,115957,206377,144269,...,123452,522802,3120,7622,9955,N,1587,7380,8268,517010
434,Wisconsin,WI,8,WI-8,556205,101057,128912,128912,200720,125516,...,140181,516153,7776,8678,13341,N,3322,7892,15514,505294
435,Wyoming,WY,At-large,WY-At-large,433644,86967,106361,106361,144337,95979,...,106059,404463,N,2909,10144,N,N,8188,32683,378267

In [48]:
#Wonderful. Now export combined_2018_df as csv

combined_2018_df.to_csv('combined2018.csv', index=False, header=True)

In [ ]:
#fin