In [29]:
import pandas as pd

In [41]:
race_2018_df = pd.read_excel('race_2018.xlsx', index_col=1)

In [42]:
race_2018_df

,Table 2D. Characteristics (Race and Hispanic Origin) of the Citizen Voting-Age Population for Congressional Districts: 2018,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41
NaN,"[Table with column headings in rows 3, 4, and ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
State abbreviation,Line #,State name,Congressional district,Citizen voting-age population,NaN,Race and Hispanic Origin,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,White,NaN,NaN,NaN,Black1,...,NaN,NaN,Hispanic,NaN,NaN,NaN,White non-Hispanic,NaN,NaN,NaN
NaN,NaN,NaN,NaN,Estimate,Margin of error (MOE),Estimate,Margin of error (MOE),Percent of total,Percent of total margin of error (MOE),Estimate,...,Percent of total,Percent of total margin of error (MOE),Estimate,Margin of error (MOE),Percent of total,Percent of total margin of error (MOE),Estimate,Margin of error (MOE),Percent of total,Percent of total margin of error (MOE)
AL,1,Alabama,1,544464,3424,379018,2294,69.6,0.4,144187,...,1.34536,0.57554,11678,1192,2.1,0.2,370443,1879,68,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,"""N"" means data for this geographic area cannot...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,"Source: U.S. Census Bureau, 2018 American Comm...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,"Internet release date: February 26, 2020",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
#get rid of first few rows
race_2018_df = race_2018_df.iloc[1:]
race_2018_df.head(10)

,Table 2D. Characteristics (Race and Hispanic Origin) of the Citizen Voting-Age Population for Congressional Districts: 2018,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41
State abbreviation,Line #,State name,Congressional district,Citizen voting-age population,NaN,Race and Hispanic Origin,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,White,NaN,NaN,NaN,Black1,...,NaN,NaN,Hispanic,NaN,NaN,NaN,White non-Hispanic,NaN,NaN,NaN
NaN,NaN,NaN,NaN,Estimate,Margin of error (MOE),Estimate,Margin of error (MOE),Percent of total,Percent of total margin of error (MOE),Estimate,...,Percent of total,Percent of total margin of error (MOE),Estimate,Margin of error (MOE),Percent of total,Percent of total margin of error (MOE),Estimate,Margin of error (MOE),Percent of total,Percent of total margin of error (MOE)
AL,1,Alabama,1,544464,3424,379018,2294,69.6,0.4,144187,...,1.34536,0.57554,11678,1192,2.1,0.2,370443,1879,68,0.4
AL,2,Alabama,2,516295,5674,338162,2699,65.5,0.7,162707,...,1.49236,0.631901,9755,1007,1.9,0.2,331192,2414,64.1,0.7
AL,3,Alabama,3,543854,4099,390539,3116,71.8,0.6,139026,...,1.24188,0.582113,12241,1773,2.3,0.3,381547,2690,70.2,0.5
AL,4,Alabama,4,515701,4678,459105,4697,89,0.5,39714,...,1.6147,0.672178,11700,1626,2.3,0.3,451856,4178,87.6,0.5
AL,5,Alabama,5,551968,2121,427462,1491,77.4,0.3,99160,...,2.23147,0.584704,14670,1569,2.7,0.3,420181,722,76.1,0.3
AL,6,Alabama,6,535753,7635,431768,6275,80.6,1,82560,...,1.6991,0.780186,12660,2542,2.4,0.5,423727,6006,79.1,1
AL,7,Alabama,7,504177,9052,180979,6035,35.9,0.9,313943,...,N,N,7621,1626,1.5,0.3,175060,5965,34.7,0.9

In [44]:
#get rid of uninteresting columns
race_2018_df = race_2018_df.drop(race_2018_df.columns[[40,39,38,36,35,34,32,31,30,28,27,26,24,23,22,20,19,18,16,15,14,12,11,10,8,7,6,4,0]], axis=1)
race_2018_df.head(20)

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 6,Unnamed: 10,Unnamed: 14,Unnamed: 18,Unnamed: 22,Unnamed: 26,Unnamed: 30,Unnamed: 34,Unnamed: 38
State abbreviation,State name,Congressional district,Citizen voting-age population,Race and Hispanic Origin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,White,Black1,Asian,American Indian and Alaska Native1,Native Hawaiian and other Pacific Islander,Some other race,Two or more races1,Hispanic,White non-Hispanic
NaN,NaN,NaN,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate
AL,Alabama,1,544464,379018,144187,6506,N,N,2884,7325,11678,370443
AL,Alabama,2,516295,338162,162707,3817,N,N,1818,7705,9755,331192
AL,Alabama,3,543854,390539,139026,4028,N,N,2448,6754,12241,381547
AL,Alabama,4,515701,459105,39714,N,N,N,3529,8327,11700,451856
AL,Alabama,5,551968,427462,99160,5209,N,N,5852,12317,14670,420181
AL,Alabama,6,535753,431768,82560,7642,N,N,5066,9103,12660,423727
AL,Alabama,7,504177,180979,313943,N,N,N,N,N,7621,175060
AK,Alaska,At-large,532244,368438,17519,26468,75676,4320,6980,33181,31790,349058
AZ,Arizona,1,568661,388200,16019,6283,124578,N,16627,17080,107249,309394
AZ,Arizona,2,550044,458052,20701,14034,9940,N,25168,21864,130624,365443
AZ,Arizona,3,500787,357944,28175,9604,26382,N,59120,18519,267591,174893
AZ,Arizona,4,633528,578190,11176,7942,8582,N,11112,15000,99681,495800
AZ,Arizona,5,587681,507420,22836,22282,7605,N,13416,13467,79986,445503
AZ,Arizona,6,577899,506970,20018,18222,8632,N,9807,13635,69238,451867
AZ,Arizona,7,454957,317721,52274,10856,18769,N,37487,18298,231252,141414
AZ,Arizona,8,599423,510303,28428,20387,N,N,17439,15934,94705,441353
AZ,Arizona,9,562791,442582,36493,21686,18138,N,21432,19896,108397,365415

In [45]:
#rename columns

race_2018_df = race_2018_df.rename(columns={"Unnamed: 2" : "state", 
                                          "Unnamed: 3" : "district_number", 
                                          "Unnamed: 4" : "voting_age_population", 
                                          "Unnamed: 6" : "white",
                                          "Unnamed: 10" : "black",
                                          "Unnamed: 14" : "asian",
                                          "Unnamed: 18" : "american_indian_and_alaska_native",
                                          "Unnamed: 22" : "native_hawaiian_and_other_pacific_islander",
                                          "Unnamed: 26" : "some_other_race",
                                          "Unnamed: 30" : "two_or_more_races",
                                          "Unnamed: 34" : "hispanic",
                                          "Unnamed: 38" : "white_non_hispanic"})

race_2018_df

,state,district_number,voting_age_population,white,black,asian,american_indian_and_alaska_native,native_hawaiian_and_other_pacific_islander,some_other_race,two_or_more_races,hispanic,white_non_hispanic
State abbreviation,State name,Congressional district,Citizen voting-age population,Race and Hispanic Origin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,White,Black1,Asian,American Indian and Alaska Native1,Native Hawaiian and other Pacific Islander,Some other race,Two or more races1,Hispanic,White non-Hispanic
NaN,NaN,NaN,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate
AL,Alabama,1,544464,379018,144187,6506,N,N,2884,7325,11678,370443
AL,Alabama,2,516295,338162,162707,3817,N,N,1818,7705,9755,331192
...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
#drop more rows using a different method for no reason..

race_2018_df = race_2018_df.drop(race_2018_df.index[[0,1,2]])
race_2018_df.head(20)

,state,district_number,voting_age_population,white,black,asian,american_indian_and_alaska_native,native_hawaiian_and_other_pacific_islander,some_other_race,two_or_more_races,hispanic,white_non_hispanic
AL,Alabama,1,544464,379018,144187,6506,N,N,2884,7325,11678,370443
AL,Alabama,2,516295,338162,162707,3817,N,N,1818,7705,9755,331192
AL,Alabama,3,543854,390539,139026,4028,N,N,2448,6754,12241,381547
AL,Alabama,4,515701,459105,39714,N,N,N,3529,8327,11700,451856
AL,Alabama,5,551968,427462,99160,5209,N,N,5852,12317,14670,420181
AL,Alabama,6,535753,431768,82560,7642,N,N,5066,9103,12660,423727
AL,Alabama,7,504177,180979,313943,N,N,N,N,N,7621,175060
AK,Alaska,At-large,532244,368438,17519,26468,75676,4320,6980,33181,31790,349058
AZ,Arizona,1,568661,388200,16019,6283,124578,N,16627,17080,107249,309394
AZ,Arizona,2,550044,458052,20701,14034,9940,N,25168,21864,130624,365443
AZ,Arizona,3,500787,357944,28175,9604,26382,N,59120,18519,267591,174893
AZ,Arizona,4,633528,578190,11176,7942,8582,N,11112,15000,99681,495800
AZ,Arizona,5,587681,507420,22836,22282,7605,N,13416,13467,79986,445503
AZ,Arizona,6,577899,506970,20018,18222,8632,N,9807,13635,69238,451867
AZ,Arizona,7,454957,317721,52274,10856,18769,N,37487,18298,231252,141414
AZ,Arizona,8,599423,510303,28428,20387,N,N,17439,15934,94705,441353
AZ,Arizona,9,562791,442582,36493,21686,18138,N,21432,19896,108397,365415
AR,Arkansas,1,548710,438139,87917,N,N,N,4421,16059,11266,431129
AR,Arkansas,2,570220,422355,128263,6177,N,N,3314,8778,13186,413714
AR,Arkansas,3,573113,500760,18315,12673,N,1735,19983,13215,46024,476885

In [47]:
#reset index to pop abbreviations out into own column

race_2018_df = race_2018_df.reset_index()
race_2018_df

,index,state,district_number,voting_age_population,white,black,asian,american_indian_and_alaska_native,native_hawaiian_and_other_pacific_islander,some_other_race,two_or_more_races,hispanic,white_non_hispanic
0,AL,Alabama,1,544464,379018,144187,6506,N,N,2884,7325,11678,370443
1,AL,Alabama,2,516295,338162,162707,3817,N,N,1818,7705,9755,331192
2,AL,Alabama,3,543854,390539,139026,4028,N,N,2448,6754,12241,381547
3,AL,Alabama,4,515701,459105,39714,N,N,N,3529,8327,11700,451856
4,AL,Alabama,5,551968,427462,99160,5209,N,N,5852,12317,14670,420181
...,...,...,...,...,...,...,...,...,...,...,...,...,...
431,WI,Wisconsin,5,558805,521119,15192,11636,N,N,3374,6724,19530,506808
432,WI,Wisconsin,6,556485,524716,11267,9340,N,N,2436,5943,16238,511469
433,WI,Wisconsin,7,552651,522802,3120,7622,9955,N,1587,7380,8268,517010
434,WI,Wisconsin,8,556205,516153,7776,8678,13341,N,3322,7892,15514,505294
435,WY,Wyoming,At-large,433644,404463,N,2909,10144,N,N,8188,32683,378267

In [48]:
#rename index column

race_2018_df = race_2018_df.rename(columns={"index":"state_abbreviation"})
race_2018_df

,state_abbreviation,state,district_number,voting_age_population,white,black,asian,american_indian_and_alaska_native,native_hawaiian_and_other_pacific_islander,some_other_race,two_or_more_races,hispanic,white_non_hispanic
0,AL,Alabama,1,544464,379018,144187,6506,N,N,2884,7325,11678,370443
1,AL,Alabama,2,516295,338162,162707,3817,N,N,1818,7705,9755,331192
2,AL,Alabama,3,543854,390539,139026,4028,N,N,2448,6754,12241,381547
3,AL,Alabama,4,515701,459105,39714,N,N,N,3529,8327,11700,451856
4,AL,Alabama,5,551968,427462,99160,5209,N,N,5852,12317,14670,420181
...,...,...,...,...,...,...,...,...,...,...,...,...,...
431,WI,Wisconsin,5,558805,521119,15192,11636,N,N,3374,6724,19530,506808
432,WI,Wisconsin,6,556485,524716,11267,9340,N,N,2436,5943,16238,511469
433,WI,Wisconsin,7,552651,522802,3120,7622,9955,N,1587,7380,8268,517010
434,WI,Wisconsin,8,556205,516153,7776,8678,13341,N,3322,7892,15514,505294
435,WY,Wyoming,At-large,433644,404463,N,2909,10144,N,N,8188,32683,378267

In [49]:
#Add Congressional District column to eventually use as PK, using a simpler method from before

race_2018_df['congressional_district'] = race_2018_df["state_abbreviation"].astype(str) + "-" + race_2018_df["district_number"].astype(str)
race_2018_df

,state_abbreviation,state,district_number,voting_age_population,white,black,asian,american_indian_and_alaska_native,native_hawaiian_and_other_pacific_islander,some_other_race,two_or_more_races,hispanic,white_non_hispanic,congressional_district
0,AL,Alabama,1,544464,379018,144187,6506,N,N,2884,7325,11678,370443,AL-1
1,AL,Alabama,2,516295,338162,162707,3817,N,N,1818,7705,9755,331192,AL-2
2,AL,Alabama,3,543854,390539,139026,4028,N,N,2448,6754,12241,381547,AL-3
3,AL,Alabama,4,515701,459105,39714,N,N,N,3529,8327,11700,451856,AL-4
4,AL,Alabama,5,551968,427462,99160,5209,N,N,5852,12317,14670,420181,AL-5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431,WI,Wisconsin,5,558805,521119,15192,11636,N,N,3374,6724,19530,506808,WI-5
432,WI,Wisconsin,6,556485,524716,11267,9340,N,N,2436,5943,16238,511469,WI-6
433,WI,Wisconsin,7,552651,522802,3120,7622,9955,N,1587,7380,8268,517010,WI-7
434,WI,Wisconsin,8,556205,516153,7776,8678,13341,N,3322,7892,15514,505294,WI-8
435,WY,Wyoming,At-large,433644,404463,N,2909,10144,N,N,8188,32683,378267,WY-At-large

In [50]:
#Splendid! export to csv

race_2018_df.to_csv('race2018.csv', index=False, header=True)

In [ ]:
#fin