In [1]:
import pandas as pd

In [19]:
edu_2018_df = pd.read_excel('educational_attainment_2018.xlsx', index_col=1)

In [20]:
edu_2018_df

,Table 2C. Characteristics (Educational Attainment) of the Citizen Voting-Age Population for Congressional Districts: 2018,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41
NaN,"[Table with column headings in rows 3, 4, and ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
State abbreviation,Line #,State name,Congressional district,Citizen voting-age population,NaN,Educational attainment,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,Less than 9th grade,NaN,NaN,NaN,"9th to 12 Grade, no diploma",...,NaN,NaN,High school or more,NaN,NaN,NaN,Bachelor's degree or more,NaN,NaN,NaN
NaN,NaN,NaN,NaN,Estimate,Margin of error (MOE),Estimate,Margin of error (MOE),Percent of total,Percent of total margin of error (MOE),Estimate,...,Percent of total,Percent of total margin of error (MOE),Estimate,Margin of error (MOE),Percent of total,Percent of total margin of error (MOE),Estimate,Margin of error (MOE),Percent of total,Percent of total margin of error (MOE)
AL,1,Alabama,1,544464,3424,13409,1845,2.5,0.3,57234,...,7.4,0.7,473821,5794,87,0.9,123479,5614,22.7,1.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,"Source: U.S. Census Bureau, 2018 American Comm...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,"Internet release date: February 26, 2020",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
#get rid of first few rows
edu_2018_df = edu_2018_df.iloc[1:]
edu_2018_df.head(10)

,Table 2C. Characteristics (Educational Attainment) of the Citizen Voting-Age Population for Congressional Districts: 2018,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41
State abbreviation,Line #,State name,Congressional district,Citizen voting-age population,NaN,Educational attainment,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,Less than 9th grade,NaN,NaN,NaN,"9th to 12 Grade, no diploma",...,NaN,NaN,High school or more,NaN,NaN,NaN,Bachelor's degree or more,NaN,NaN,NaN
NaN,NaN,NaN,NaN,Estimate,Margin of error (MOE),Estimate,Margin of error (MOE),Percent of total,Percent of total margin of error (MOE),Estimate,...,Percent of total,Percent of total margin of error (MOE),Estimate,Margin of error (MOE),Percent of total,Percent of total margin of error (MOE),Estimate,Margin of error (MOE),Percent of total,Percent of total margin of error (MOE)
AL,1,Alabama,1,544464,3424,13409,1845,2.5,0.3,57234,...,7.4,0.7,473821,5794,87,0.9,123479,5614,22.7,1.1
AL,2,Alabama,2,516295,5674,18295,2059,3.5,0.4,53192,...,7.4,0.6,444808,6761,86.2,0.9,107354,5009,20.8,1
AL,3,Alabama,3,543854,4099,19578,2504,3.6,0.5,56833,...,7.5,0.7,467443,6717,86,1,104816,6147,19.3,1.1
AL,4,Alabama,4,515701,4678,24346,2997,4.7,0.6,57850,...,6.2,0.5,433505,6247,84.1,1,84524,4487,16.4,0.8
AL,5,Alabama,5,551968,2121,14908,2282,2.7,0.4,43805,...,10.8,0.8,493255,5090,89.4,0.8,173277,6244,31.4,1.1
AL,6,Alabama,6,535753,7635,11300,2173,2.1,0.4,36957,...,12.2,0.8,487496,7970,91,0.8,182618,7144,34.1,1.2
AL,7,Alabama,7,504177,9052,16616,1923,3.3,0.4,55234,...,6.3,0.6,432327,9322,85.7,1,91141,5542,18.1,1.1

In [22]:
#get rid of uninteresting columns
edu_2018_df = edu_2018_df.drop(edu_2018_df.columns[[40,39,38,36,35,34,32,31,30,28,27,26,24,23,22,20,19,18,16,15,14,12,11,10,8,7,6,4,0]], axis=1)
edu_2018_df.head(10)

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 6,Unnamed: 10,Unnamed: 14,Unnamed: 18,Unnamed: 22,Unnamed: 26,Unnamed: 30,Unnamed: 34,Unnamed: 38
State abbreviation,State name,Congressional district,Citizen voting-age population,Educational attainment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,Less than 9th grade,"9th to 12 Grade, no diploma",High school graduate,"Some college, no degree",Associate's degree,Bachelor's degree,Graduate degree,High school or more,Bachelor's degree or more
NaN,NaN,NaN,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate
AL,Alabama,1,544464,13409,57234,185503,122236,42603,82971,40508,473821,123479
AL,Alabama,2,516295,18295,53192,172427,119350,45677,69082,38272,444808,107354
AL,Alabama,3,543854,19578,56833,174209,142705,45713,63916,40900,467443,104816
AL,Alabama,4,515701,24346,57850,175806,121739,51436,52697,31827,433505,84524
AL,Alabama,5,551968,14908,43805,151609,123272,45097,113417,59860,493255,173277
AL,Alabama,6,535753,11300,36957,140443,123459,40976,117006,65612,487496,182618
AL,Alabama,7,504177,16616,55234,168045,133839,39302,59601,31540,432327,91141

In [25]:
#rename columns

edu_2018_df = edu_2018_df.rename(columns={"Unnamed: 2" : "State", 
                                          "Unnamed: 3" : "District Number", 
                                          "Unnamed: 4" : "Voting-Age Population", 
                                          "Unnamed: 6" : "Less than 9th Grade",
                                          "Unnamed: 10" : "9th to 12 Grade, No Diploma",
                                          "Unnamed: 14" : "High School Graduate",
                                          "Unnamed: 18" : "Some College, No Degree",
                                          "Unnamed: 22" : "Associate's Degree",
                                          "Unnamed: 26" : "Bachelor's Degree",
                                          "Unnamed: 30" : "Graduate Degree",
                                          "Unnamed: 34" : "High School or More",
                                          "Unnamed: 38" : "Bachelor's Degree or More"})

edu_2018_df

,State,District Number,Voting-Age Population,Less than 9th Grade,"9th to 12 Grade, No Diploma",High School Graduate,"Some College, No Degree",Associate's Degree,Bachelor's Degree,Graduate Degree,High School or More,Bachelor's Degree or More
State abbreviation,State name,Congressional district,Citizen voting-age population,Educational attainment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,Less than 9th grade,"9th to 12 Grade, no diploma",High school graduate,"Some college, no degree",Associate's degree,Bachelor's degree,Graduate degree,High school or more,Bachelor's degree or more
NaN,NaN,NaN,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate
AL,Alabama,1,544464,13409,57234,185503,122236,42603,82971,40508,473821,123479
AL,Alabama,2,516295,18295,53192,172427,119350,45677,69082,38272,444808,107354
...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
#drop more rows using a different way for no reason..

edu_2018_df = edu_2018_df.drop(edu_2018_df.index[[0,1,2]])
edu_2018_df.head(20)

,State,District Number,Voting-Age Population,Less than 9th Grade,"9th to 12 Grade, No Diploma",High School Graduate,"Some College, No Degree",Associate's Degree,Bachelor's Degree,Graduate Degree,High School or More,Bachelor's Degree or More
AL,Alabama,1,544464,13409,57234,185503,122236,42603,82971,40508,473821,123479
AL,Alabama,2,516295,18295,53192,172427,119350,45677,69082,38272,444808,107354
AL,Alabama,3,543854,19578,56833,174209,142705,45713,63916,40900,467443,104816
AL,Alabama,4,515701,24346,57850,175806,121739,51436,52697,31827,433505,84524
AL,Alabama,5,551968,14908,43805,151609,123272,45097,113417,59860,493255,173277
AL,Alabama,6,535753,11300,36957,140443,123459,40976,117006,65612,487496,182618
AL,Alabama,7,504177,16616,55234,168045,133839,39302,59601,31540,432327,91141
AK,Alaska,At-large,532244,10640,26444,160451,148709,41699,89107,55194,495160,144301
AZ,Arizona,1,568661,21704,52527,157867,160634,47496,76331,52102,494430,128433
AZ,Arizona,2,550044,11867,34149,129115,155015,51429,100306,68163,504028,168469
AZ,Arizona,3,500787,30121,57088,148104,141914,45173,53824,24563,413578,78387
AZ,Arizona,4,633528,17595,52748,192527,192003,59051,77875,41729,563185,119604
AZ,Arizona,5,587681,8798,27681,128346,160076,53374,138201,71205,551202,209406
AZ,Arizona,6,577899,8834,25687,107601,139842,47995,158055,89885,543378,247940
AZ,Arizona,7,454957,34537,53791,140351,117031,34665,50781,23801,366629,74582
AZ,Arizona,8,599423,13530,31603,155411,167411,56366,111662,63440,554290,175102
AZ,Arizona,9,562791,11269,26068,109598,155775,50960,137924,71197,525454,209121
AR,Arkansas,1,548710,24944,53594,208663,128267,44423,60603,28216,470172,88819
AR,Arkansas,2,570220,14879,40792,172669,140151,44106,97692,59931,514549,157623
AR,Arkansas,3,573113,18243,38548,183043,147350,37748,94386,53795,516322,148181

In [28]:
#reset index to pop abbreviations out into own column

edu_2018_df = edu_2018_df.reset_index()
edu_2018_df

,index,State,District Number,Voting-Age Population,Less than 9th Grade,"9th to 12 Grade, No Diploma",High School Graduate,"Some College, No Degree",Associate's Degree,Bachelor's Degree,Graduate Degree,High School or More,Bachelor's Degree or More
0,AL,Alabama,1,544464,13409,57234,185503,122236,42603,82971,40508,473821,123479
1,AL,Alabama,2,516295,18295,53192,172427,119350,45677,69082,38272,444808,107354
2,AL,Alabama,3,543854,19578,56833,174209,142705,45713,63916,40900,467443,104816
3,AL,Alabama,4,515701,24346,57850,175806,121739,51436,52697,31827,433505,84524
4,AL,Alabama,5,551968,14908,43805,151609,123272,45097,113417,59860,493255,173277
...,...,...,...,...,...,...,...,...,...,...,...,...,...
431,WI,Wisconsin,5,558805,6497,21693,152528,121611,54786,135880,65810,530615,201690
432,WI,Wisconsin,6,556485,10713,31526,189317,131008,61275,91514,41132,514246,132646
433,WI,Wisconsin,7,552651,13395,32755,192544,121212,69293,84204,39248,506501,123452
434,WI,Wisconsin,8,556205,9904,27884,194402,118939,64895,98775,41406,518417,140181
435,WY,Wyoming,At-large,433644,6797,25914,128479,120333,46062,67939,38120,400933,106059

In [29]:
edu_2018_df = edu_2018_df.rename(columns={"index":"State Abbreviation"})
edu_2018_df

,State Abbreviation,State,District Number,Voting-Age Population,Less than 9th Grade,"9th to 12 Grade, No Diploma",High School Graduate,"Some College, No Degree",Associate's Degree,Bachelor's Degree,Graduate Degree,High School or More,Bachelor's Degree or More
0,AL,Alabama,1,544464,13409,57234,185503,122236,42603,82971,40508,473821,123479
1,AL,Alabama,2,516295,18295,53192,172427,119350,45677,69082,38272,444808,107354
2,AL,Alabama,3,543854,19578,56833,174209,142705,45713,63916,40900,467443,104816
3,AL,Alabama,4,515701,24346,57850,175806,121739,51436,52697,31827,433505,84524
4,AL,Alabama,5,551968,14908,43805,151609,123272,45097,113417,59860,493255,173277
...,...,...,...,...,...,...,...,...,...,...,...,...,...
431,WI,Wisconsin,5,558805,6497,21693,152528,121611,54786,135880,65810,530615,201690
432,WI,Wisconsin,6,556485,10713,31526,189317,131008,61275,91514,41132,514246,132646
433,WI,Wisconsin,7,552651,13395,32755,192544,121212,69293,84204,39248,506501,123452
434,WI,Wisconsin,8,556205,9904,27884,194402,118939,64895,98775,41406,518417,140181
435,WY,Wyoming,At-large,433644,6797,25914,128479,120333,46062,67939,38120,400933,106059

In [30]:
#Add Congressional District column to eventually use as PK

edu_2018_df['Congressional District'] = ['-'.join(i) for i in zip(edu_2018_df["State Abbreviation"].map(str),edu_2018_df["District Number"].map(str))]
edu_2018_df

,State Abbreviation,State,District Number,Voting-Age Population,Less than 9th Grade,"9th to 12 Grade, No Diploma",High School Graduate,"Some College, No Degree",Associate's Degree,Bachelor's Degree,Graduate Degree,High School or More,Bachelor's Degree or More,Congressional District
0,AL,Alabama,1,544464,13409,57234,185503,122236,42603,82971,40508,473821,123479,AL-1
1,AL,Alabama,2,516295,18295,53192,172427,119350,45677,69082,38272,444808,107354,AL-2
2,AL,Alabama,3,543854,19578,56833,174209,142705,45713,63916,40900,467443,104816,AL-3
3,AL,Alabama,4,515701,24346,57850,175806,121739,51436,52697,31827,433505,84524,AL-4
4,AL,Alabama,5,551968,14908,43805,151609,123272,45097,113417,59860,493255,173277,AL-5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431,WI,Wisconsin,5,558805,6497,21693,152528,121611,54786,135880,65810,530615,201690,WI-5
432,WI,Wisconsin,6,556485,10713,31526,189317,131008,61275,91514,41132,514246,132646,WI-6
433,WI,Wisconsin,7,552651,13395,32755,192544,121212,69293,84204,39248,506501,123452,WI-7
434,WI,Wisconsin,8,556205,9904,27884,194402,118939,64895,98775,41406,518417,140181,WI-8
435,WY,Wyoming,At-large,433644,6797,25914,128479,120333,46062,67939,38120,400933,106059,WY-At-large

In [31]:
#Noice. export to csv

edu_2018_df.to_csv('edu2018.csv', index=False, header=True)

In [ ]:
#fin